html, body {
  overflow-x: hidden; 
}

.blue-hover:hover {
  color: #0275d8;
}

.color-black {
  color: black;
}

.color-black:hover {
  color: black;
  cursor: pointer; 
}

.w-12 {
  width: 12%; 
}

.landing {
  position: relative;
  background: url('./img/landing.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h-center {
  display: flex; 
  justify-content: center; 
}

.v-center {
  display: flex;
  flex-flow: column nowrap; 
  justify-content: center;
}

.top-space {
  margin-top: 100px; 
}

.top-space {
  margin-bottom: 50px; 
}

.alerts {
  z-index: 1; 
  position: absolute;
  margin-left: 30%; 
  margin-right: 30%; 
}

.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'edu exp'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-experience {
  grid-area: exp;
}

.profile-education {
  grid-area: edu;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

#fileInput {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}